.container {
    max-width: 500px;
}

h1 {
    text-align: center;
}

#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#todo-button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#todo-list li {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

#todo-list li:last-child {
    border-bottom: none;
}
